h2 {
  text-align: center;
  color: #5062AA;
}

span {
  color: #35A0B1;
  font-weight: bold;
  padding-right: 10px;
}

label {
  color: #35A0B1;
  font-weight: bold;
  padding-right: 10px;
}

a {
  color: #5062AA;
}

.navigation-wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 200px;
  justify-content: space-around;
  

}

.navigation-wrapper a {
  font-size: 14px;
  padding: 15px;
  align-items: center;
  color: #5062AA;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

a.active {
  text-decoration: underline;
}

.friends-wrapper {
  margin: 0 auto;
  width: 1200px;
}

.friends-form {
  display: flex;
  justify-content: space-evenly;
  width: 800px;
  margin: 0 auto;
  align-items: baseline;
}

.friends-list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.friend-container {
  display: flex;
  margin-bottom: 10px;
  padding: 0 10px;
  /* border: 1px solid lightgrey; */
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 3px;
}

.friend-container p {
  width: 170px;
  color: #5062AA;
  border-right: 1px solid lightgrey;
  margin-right: 20px;
}

.friend-container p:nth-last-child(2) {
  width: 300px;
  border: none;
}

.friend-container p:last-child {
  width: 200px;
  border: none;
}

.details {
  display: flex;
  align-items: center;
  width: 900px;
}

.requests {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.requests button {
  background: #35A0B1;
  color: white;
  padding: 5px 10px;
  height: 30px;
  margin: 5px;
  border: none;
  font-size: 14px;
  font-weight: bold;
}

.requests button:hover {
  background: #55bccc;
  cursor: pointer;
  border-radius: 0 0 7px 0px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

button.add {
  background: #35A0B1;
  width: 150px;
  border: none;
  padding: 5px 10px;
  height: 30px;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

button.add:hover {
  cursor: pointer;
  background: #55bccc;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

button.delete {
  background: #5062AA;

}

button.delete:hover {
  background: #BB0A21;
  border-radius: 0 0 7px 0px;
}

button.cancel {
  background: #5062AA;
}

button.cancel:hover {
  background: #5c6db2;
}

.friends-form {
  align-self: center;
  margin: 0 auto;
  max-width: 90%;
}

input {
  margin: 10px;
  color: #5062AA;
  font-size: 14px;
  height: 30px;
  width: 25%;
  border: 1px solid #f1f1f1;
  padding-left: 10px;
  border: 1px solid #e7e7e7;
}

input::placeholder {
  font-size: 14px;
}

