.friends-wrapper {
  margin: 0 auto;
  width: 1000px;
}

.friends-list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  text-align: center;
}

.friend-container {
  display: flex;
  margin: 10px;
  padding: 0 10px;
  border: 1px solid lightgrey;
  justify-content: space-between;

}

.friend p {
  padding: 0 20px;
}

.details {
  display: flex;
  align-items: center;
  margin-right: 50px;
  width: 700px;
}

.requests {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.requests button {
  background: dodgerblue;
  color: white;
  padding: 5px 10px;
  height: 30px;
  margin: 5px;
}

button.delete {
  background: #ff0000;
}


.friends-form {
  align-self: center;
  margin: 0 auto;
}

input {
  margin: 10px;
}